<!DOCTYPE html>
<html>

<head>
    <title>Book gpt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <div class="chat-container" id="chat-container">
        <div class="pdf">
            <form action="/ask" method="post" enctype="multipart/form-data">
                <label for="file">Upload PDF file:</label>
                <input type="file" id="file" name="file" accept=".pdf">
                <br>
        </div>
        <div class="chat-header">
            <h1>Book GPT</h1>

        </div>

        <div class="chat-body" id="chat-body">
            <div class="chat-message">

                <div class="chat-message-inner user">
                    <p>Hello!</p>
                </div>
            </div>
            <div class="chat-message">
                <div class="chat-message-inner assistant">
                    <p>
                        {% if question %}
                    <h3>Your Question: {{ question }}</h3>
                    <h3>Answer:</h3>
                    <p>{{ answer }}</p>
                    {% endif %}
                    </p>

                </div>
            </div>
        </div>
        <div class="chat-footer">

            <label for="question">Question:</label>
            <input type="text" id="question" name="question">
            <input type="submit" value="Ask">
        </div>
    </div>



    </form>

    </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</body>

</html>